@font-face {
    font-family: 'swatchit';
    src: url('../fonts/swatchit-webfont.eot');
    src: url('../fonts/swatchit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/swatchit-webfont.woff') format('woff'),
         url('../fonts/swatchit-webfont.ttf') format('truetype'),
         url('../fonts/swatchit-webfont.svg#swatchit') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Regular-webfont.eot');
    src: url('../fonts/Montserrat-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-Regular-webfont.woff') format('woff'),
         url('../fonts/Montserrat-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Montserrat-Regular-webfont.svg#montserrat') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratBd';
    src: url('../fonts/Montserrat-Bold-webfont.eot');
    src: url('../fonts/Montserrat-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-Bold-webfont.woff') format('woff'),
         url('../fonts/Montserrat-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Montserrat-Bold-webfont.svg#montserratBd') format('svg');
    font-weight: normal;
    font-style: normal;
}